/* ==========================================================================
   Author's custom styles
   ========================================================================== */

svg text {
	font-family: inherit;
	fill: #444;
	font-size: 1.5em;
}

body {
	color: #555;
	text-align: justify;
}

.dark {
	color: #333;
}

.carousel-indicators .active {
	color: #333;
}

.carousel-indicators li {
	background-color: rgba(128,128,128,0.25);
}

.carousel-indicators .active {
	background-color: #666;
}

.carousel-control {
	border-color: #999;
}
