/* ==========================================================================
   Author's custom styles
   ========================================================================== */

svg text {
	font-family: inherit;
	fill: #444;
	font-size: 1.5em;
}

body {
	color: #555;
	text-align: justify;
}

.dark {
	color: #333;
}